// $darkGrey: #222222;
$darkGrey: rgba(34, 34, 34, .95);
$lightGrey: #757575;
$lightGreyBg: #E1E1E1;
$paginationGrey: #BFBFBF;
$whiteBg: #ffffff;
$textWhite: #ffffff;
$textLightGrey: #b2b2b2;
$textGrey: #626262;
$red: #F2060B;
$headers: #2C2C2C;
