@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'colours';
@import 'search-form';
@import 'header';
@import 'content';
@import 'post';
@import 'comment-form';
@import 'wpcf7-form';
@import 'pagination';
@import 'footer';

body {
    font-family: 'Roboto', sans-serif;
    background-color: $lightGreyBg;
    width: 100%;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #F2F226;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5 {
    color: $textGrey;
}
